[submodule "src/eqlib"]
	path = src/eqlib
    url = https://github.com/macroquest/eqlib.git
[submodule "contrib/vcpkg"]
	path = contrib/vcpkg
	url = https://github.com/macroquest/vcpkg.git
	branch = macroquest
[submodule "data/lua/IntegrationTests"]
	path = src/plugins/lua/lua/IntegrationTests
	url = https://github.com/macroquest/integration-tests.git
[submodule "src/private"]
	path = src/private
	url = https://github.com/The-Heroes-Journey-EQEMU/mq-embedded-emu-private
